// Variables and mixins
@import "variables";
@import "spectre/mixins";

/*! Spectre.css | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "spectre/normalize";
@import "spectre/base";

// Styles
@import "spectre/layout";
@import "spectre/utilities";

// Variables
$pride-color-1: #FBF4EC !default;
$pride-color-2: #ECD7C8 !default;
$pride-color-3: #EEA4BC !default;
$pride-color-4: #BE88C4 !default;
$pride-color-5: #9186E7 !default;
$pride-color-6: #92C9F9 !default;
$pride-color-7: #C7F8FF !default;

body {
  background: lighten($bg-color, 3%);
}

.profile-container {
  height: 630px;
  width: 1200px;
}

.profile-card {
  // border: .05rem solid rgba(#000, .075);
  border-radius: 20px;
  // box-shadow: 0 .1rem .2rem rgba(#000, .01);
  color: $dark-color;
  display: flex;
  flex-direction: column;
  height: 630px;
  letter-spacing: -.05em;
  padding: 3rem 4rem;
  position: relative;
  width: 1200px;

  .card-avatar {
    flex: 0;

    .avatar,
    svg {
      box-shadow: inset 0 0 0 .2rem rgba($light-color, .1), 0 .4rem 1rem rgba(0, 0, 0, .1);
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
    }
  }

  .card-content {
    flex: 1;
    padding: 0;
    width: 100%;
  }

  .card-footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  .card-name {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -.05em;
  }

  .card-link {
    border-radius: 4rem;
    display: inline-flex;
    font-size: 1.4rem;
    padding-left: .25rem;
  }

  .card-address {
    color: $gray-color;
    font-size: 1.4rem;
  }

  .card-cover {
    height: 1200px;
    left: 0;
    position: absolute;
    top: -600px;
    width: 1200px;
    z-index: -1;

    &::after {
      background: linear-gradient(to bottom, rgba($light-color, .15) 0, $light-color 40%);
      content: "";
      display: block;
      height: 630px;
      left: 0;
      position: absolute;
      top: 50%;
      width: 1200px;
    }

    .avatar {
      filter: blur(16rem);
      height: 60rem;
      left: 0;
      object-fit: cover;
      opacity: .5;
      position: absolute;
      top: 0;
      width: 60rem;
    }
  }

  .qrcode-container {
    align-items: center;
    border-radius: .6rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 3rem;
  
    canvas {
      transform: scale(.5);
    }
  }
}

.text-pride {
  background-image: linear-gradient(70deg, $pride-color-1 10%, $pride-color-2 25%, $pride-color-3 36%, $pride-color-4 50%, $pride-color-5 63%, $pride-color-6 75%, $pride-color-7 90%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-pride {
  background: linear-gradient(70deg, $pride-color-1 -10%, $pride-color-2 5%, $pride-color-3 36%, $pride-color-4 50%, $pride-color-5 63%, $pride-color-6 95%, $pride-color-7 110%);
}